@using Kiru
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox
@attribute [StyleSheet]

<root class="SearchEntry" onclick=@( () => PlaySong() )>
	<div class="Title">@WebInfo.Name</div>
	@if ( Downloader.InstalledSongs.Contains( WebInfo.Name + " - " + WebInfo.Id ) )
	{
		<div class="CheckBox">X</div>
	}
</root>

@code
{
	public WebSongInfo WebInfo { get; set; }
	public SongDownloader Downloader { get; set; }
	public SongParser Parser { get; set; }
	public async void PlaySong()
	{
		Downloader.WebInfo = WebInfo;
		await Downloader.DownloadSong();
		
		Parser = Downloader.Parser;
		if( Downloader.Chart.Notes != null && Downloader.Info.SongName != null ) Parser.PlaySong( Downloader.Chart, Downloader.Info, Downloader.AudioPath );
		else Log.Warning("Failed to play song");
	}
}
