@using Kiru
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox
@attribute [StyleSheet]

<root class="SearchEntry" onclick=@( () => PlaySong() )>
	<div class="Title">@WebInfo.name</div>
	<div class="CheckBox">Check</div>
</root>

@code
{
	public WebSongInfo WebInfo { get; set; }
	public SongDownloader Downloader { get; set; }
	public SongParser Parser { get; set; }
	public async void PlaySong()
	{
		Downloader.WebInfo = WebInfo;
		await Downloader.DownloadSong();
		
		Parser = Downloader.Parser;
		if( Downloader.Chart._notes != null && Downloader.Info._songName != null ) Parser.PlaySong( Downloader.Chart, Downloader.Info, Downloader.AudioPath );
	}
}
