SongBrowser
{
	position: absolute;
	top: 5%;
	left: 20%;
	right: 25%;
	bottom: auto;
	justify-content: left;
	font-weight: bold;
	color: white;
	background-color: slategray;
	border-radius: 20px;
	padding: .5%;
	font-size: 25px;
	pointer-events: all;
	font-family: Poppins;
	flex-direction: column;
	gap: 1rem;
	
	.SearchBar
	{
		
	}
	.Button
	{
		
	}
	.Buttons
	{
		
	}
	.SongList
	{
		flex-direction: column;
        min-height: 30%;
		min-width: 50%;
	}
	.Button, .SearchBar
	{
		background-color: darkgray;
		border-radius: 10px;
	}
}