@using Kiru
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="Buttons">
		<TextEntry class="SearchBar" onsubmit=@( () => Downloader.GetSearchResults( Query.Text ) ) @ref=Query />
		<div class="Button" onclick=@( () => Downloader.GetSearchResults( Query.Text ) )>Search</div>
	</div>
	
	<div class="SongList">
		@if ( Downloader.Results != null )
		{
			@foreach ( var i in Downloader.Results.InfoList )
			{
				<SearchEntry WebInfo=@i Downloader=@Downloader/>
			}
		}
	</div> 
</root>

@code
{
	SongDownloader Downloader { get; set; } = new();
	TextEntry Query { get; set; }
	protected override void OnStart()
	{
		//Mouse.Visible = true;
		Downloader = Components.GetInChildrenOrSelf<SongDownloader>();
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine( Downloader?.Results?.InfoList );
	}
}
